<html>
<head>
    <title>oi!</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        function htmlEncode(str) {
            return String(str).replace(/[^\w. ]/gi, function (c) {
                return '&#' + c.charCodeAt(0) + ';';
            });
        }

        $(function () {
            $('a#test').bind('click', function () {
                $.getJSON('/update',
                    function (data) {
                        //do nothing
                    });
                return false;
            });

            $('form#chat').bind('submit', function () {
                //window.alert($('input#chatText').val());
                var valor = htmlEncode($('input#chatText').val());
                $('input#chatText').val("");

                /*#put it in the general chat as well
                string newText = "<b>" + personName + "</b>: " + textSend + "\n";
                chatText.text += newText;*/

                if (valor != "") {
                    $.getJSON('/chat?chatText=' + valor,
                        function (data) {
                            //do nothing
                        });
                    return false;
                } else {
                    return false
                }
            });
        });
    </script>

    {{ turbo() }}
</head>
<body>
    <form id="chat" method="get">
        <input id="chatText" name="chatText" type="text" width="300px" placeholder="Talk with me..." value="{{ request.form['chatText'] }}" />
    </form>

    {% include "chat.html" %}

    <a href=# id=test><button class='btn btn-default'>Hit me senpai!</button></a>

    <video width="300px" controls autoplay="autoplay" style="float: left">
        <source src="/static/Happy1.mp4" type="video/mp4">
    </video>

    <img src="{{ url_for('video_feed') }}" width="300px" style="float: right; margin-right: 100px;">
</body>
</html>